@import url("style.css");

input[type="text"] {
	/* styling */
	background: var(--background-below);
	border: var(--border-width) solid var(--background-above);
	width: 100%;
	transition: all var(--ease-out-circ) 0.25s;

	/* text */
	color: inherit;
	font: inherit;
	padding: 0.25em 0.5em;
	margin: 0.25em 0;
	&::placeholder {
		color: var(--background-above-above);
	}

	/* on hover */
	&:hover {
		outline: none;
		border: var(--border-width) solid var(--background-above-above);
		padding: 0.5em 0.5em;
		margin: 0 0;
	}

	/* on focus */
	&:focus {
		outline: none;
		border: var(--border-width) solid var(--accent-color);
		padding: 0.5em 0.5em;
		margin: 0 0;
		transform: scale(1.025, 1.025);
	}
}

.pack-download-list {
	max-height: 20em;
	overflow-y: auto;
	scrollbar-color: var(--background-above-above) var(--background-below);
	min-height: 0;
	flex-grow: 1;
	
	/* style */
	border: var(--border-width) solid var(--background-above);
	background-color: var(--background-below);

	/* behaviour */
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding: 0.5em;

	.list-item {
		/* size */
		width: 100%;
		padding: 0.25em 1em;

		/* style */
		border: var(--border-width) solid var(--background-above);
		background-color: var(--background);

		/* behaviour */
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		justify-items: stretch;
		align-items: center;
		gap: 1em;
		transition: all var(--ease-out-circ) 0.5s;

		> img {
			width: 4em;
			border-radius: 0.25em;
		}

		/* on hover */
		&:hover {
			border-color: var(--background-above-above);
			background-color: var(--background-above);
		}

		/* when active */
		&:active {
			border-color: var(--accent-color);
		}
		&:has(input[type="checkbox"]:checked) {
			border-color: var(--accent-color);
		}
	}
}
