@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--background: #181825;
	--background-below: #11111b;
	--background-above: #1e1e2e;

	--border-width: 2px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: "Inter", sans-serif;
	color: whitesmoke;
	background-color: var(--background-below);
}

a:link {
	color: #cba6f7;
}
a:visited {
	color: #dec7fa;
}

.file {
	/* custom file input modified from https://github.com/mdo/wtf-forms/ */
	position: relative;
	display: inline-block;
	cursor: pointer;
	height: 3rem;

	input {
		min-width: 14rem;
		margin: 0;
		filter: opacity(0);
		opacity: 0;
	}

	.file-custom {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 5;
		height: 3rem;
		padding: 0.75rem 1.25rem;
		line-height: 1.5;
		background-color: var(--background);
		border: var(--border-width) solid var(--background-below);
		user-select: none;
	}

	.file-custom::before {
		position: absolute;
		top: calc(-1 * var(--border-width));
		right: calc(-1 * var(--border-width));
		bottom: calc(-1 * var(--border-width));
		z-index: 6;
		display: block;
		content: "Browse";
		height: 3rem;
		padding: 0.75rem 1.25rem;
		line-height: 1.5;
		background-color: var(--background-above);
		border: var(--border-width) solid var(--background-below);
	}

	.file-custom::after {
		content: "Add datapack(s)...";
	}
}

.edit_area {
	background-color: var(--background);
	padding: 1em;
}

.work_area {
	display: flex;
	gap: 1em;
	align-items: stretch;
	align-content: stretch;
}

#left-col {
	display: flex;
	flex-direction: column;
	gap: 1em;
	min-width: 25%;
}

#datapack-display {
	background-color: var(--background-above);
	border: var(--border-width) var(--background-below) solid;

	padding: 1em;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	gap: 1em;
}

.datapack {
	display: flex;
	align-items: center;
	justify-content: left;
	justify-items: auto;

	img {
		border-radius: 0.5em;
	}

	.name {
		margin: 0;
	}

	.description {
		color: rgb(214, 214, 214);
		margin: 0;
	}

	.name-and-description {
		padding-left: 1em;
		align-items: stretch;
		align-content: center;
		justify-content: center;

		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}
}

.config-screen {
	background-color: var(--background-above);
	border: var(--border-width) solid var(--background-below);
	width: 100%;
	padding: 0em;
}

/* CONFIG WIDGETS AND STUFF */
.widget {
	border: 0px;
	border-color: var(--background-below);
	border-style: solid;

	display: flex;
	justify-content: space-between;
	justify-items: stretch;

	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.75em;
	padding-top: 0.75em;

	accent-color: #cba6f7;
	background-color: var(--background-above);

	p,
	h1,
	h2,
	h3,
	h4 {
		min-width: 25%;
	}
}

/* .widget + .widget {
	margin-top: 0em;
} */

.config-screen>.widget-with-input:nth-of-type(odd) {
  background-color: var(--background);
}

.widget-input {
	min-width: 25%;
}

.widget-number-input {
	background-color: var(--background);
	border-color: var(--background-below);
	border: 1px;
	color: inherit;
	font-family: inherit;
}
